.toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10000;
}
.example-spacer {
  flex: 1 1 auto;
}
#search-container {
  width: 40px;
  position: relative;
  font-size: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: width 0.5s ease;
}

#search-container .search-fields {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 50px;
}

#search-container .toggleBtn {
  position: absolute;
  right: 0;
}

#search-container.open {
  width: 300px;
}
