:host {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.mat-form-field {
  width: 100%;
  min-width: 350px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.submit-button,
.actions {
  display: flex;
  justify-content: center;
}
.button {
  width: 300px;
  background-color: #33b5e5;
  color: white;
}
.actions a {
  text-decoration: none;
  color: #007bff;
}
.home-button {
  padding-right: 5px;
}
.forgot-pass {
  padding-left: 5px;
}
.registration-button {
  padding-right: 5px;
  padding-left: 5px;
}
.icon {
  padding-left: 34%;
  font-size: 90px;
  margin-bottom: 85px;
}
.failed {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
}
.loginMsg {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  text-align: center;
}
