<mat-card>
  <mat-icon class="icon">lock</mat-icon>
  <mat-card-title>Fogot Password?</mat-card-title>
  <mat-card-subtitle>You can reset your password here.</mat-card-subtitle>
  <mat-card-content>
    <form>
      <p></p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput />
        </mat-form-field>
      </p>

      <p></p>

      <div class="submit-button">
        <button class="button" type="submit" mat-button>RESET PASSWORD</button>
      </div>
      <p></p>
      <div class="actions">
        <a class="home-button" routerLink="/main">Home</a>
        /
        <a class="login-button" routerLink="/login">Login</a>
        /
        <a class="registration-button" routerLink="/registration"
          >Registration</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
