<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-content>
    <form #registrationForm="ngForm" (ngSubmit)="registerUser()">
      <p></p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your username</mat-label>
          <input matInput [(ngModel)]="user.username" name="username" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput [(ngModel)]="user.email" name="email" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            name="password"
            [(ngModel)]="user.password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide2 ? 'password' : 'text'" />
          <button
            name="cpassword"
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </p>

      <div class="submit-button">
        <button class="button" type="submit" mat-button>LOGIN</button>
      </div>
      <p></p>
      <div class="actions">
        <a class="home-button" routerLink="/main">Home</a>
        /
        <a class="login-button" routerLink="/login">Login</a>
        /
        <a class="forgot-pass" routerLink="/forgotPassword">Forgot Password?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
